<hr class="header-divider">

<div class="header">

  <div>
    <b>Usuário:</b><span id="header-usuario-nome">...</span>
  </div>

  <div>
    <b>Credencial:</b> <span id="header-usuario-credencial">...</span>; 
    <b>Setor:</b> <span id="header-usuario-setor">...</span>
  </div>

  <button class="header-button" onclick="abrirModalEditarUsuario()">
    <i class="fa-solid fa-user-pen"></i>Editar usuário
  </button>

  <button id="btn-logout" class="header-button" onclick="encerrarSessao();">
    <i class="fa-solid fa-right-from-bracket"></i>Sair
  </button>

</div>
