<div id="modalQrCode" class="modal-bg">
  <div class="modal modal-qrcode">

    <h2>QR Code da Autorização</h2>
    <div class="qrcode-container">
      <div id="qrcode-imagem"></div>
      <p class="qrcode-info">Apresente este QR Code na portaria.</p>
    </div>

    <div class="modal-actions">
      <button class="btn" onclick="imprimirQrCode()">
        <i class="fa-solid fa-print"></i>Imprimir
      </button>
      <button class="btn" onclick="fecharModalQrCode()">
        Fechar
      </button>
    </div>

  </div>
</div>
