<div id="modalCadastroEmpresas" class="modal-bg">

  <div class="modal modal-cadastro">

    <h2>Cadastro de empresas</h2>
    <br/>

    <div class="tabela-container">

      <table class="tabela-cadastro">

        <thead>
          <tr>
            <th>Nome</th>
            <th>CNPJ</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>

        <tbody id="tabela-cadastro-empresas">
        </tbody>

      </table>

    </div>

    <div class="modal-actions">

      <button
        class="btn"
        onclick="fecharModalCadastroEmpresas()">
        Fechar
      </button>

    </div>

  </div>

</div>
