<div class="desktop-table table-wrap">

  <table>

    <thead>

      <tr>
        <th><div class="th-content">Nome</div></th>
        <th><div class="th-content">E-mail</div></th>
        <th><div class="th-content">Tipo</div></th>
        <th><div class="th-content">Setor</div></th>
        <th><div class="th-content">Status</div></th>
        <th><div class="th-content">Ações</div></th>
      </tr>

    </thead>

    <tbody id="usuarios-tbody">
    </tbody>

  </table>

</div>

<div class="mobile-cards" id="usuarios-cards"></div>

<div class="pagination-container">

  <div class="page-size">

    <label for="qtd-registros-usuarios">Exibir:</label>

    <select id="qtd-registros-usuarios">
      <option value="5">5</option>
      <option value="10" selected>10</option>
      <option value="15">15</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="-1">Todos</option>
    </select>

  </div>

  <div class="pagination">
    <div id="usuarios-pagination" class="pagination"></div>
  </div>

</div>
