<div class="pagination-container">

  <div class="page-size">

    <label for="usuarios-qtd-registros">Exibir:</label>

    <select id="usuarios-qtd-registros">

      <option value="5">5</option>
      <option value="10" selected>10</option>
      <option value="15">15</option>
      <option value="20">20</option>
      <option value="50">50</option>

      <option value="-1">Todos</option>

    </select>

  </div>

  <div class="pagination">
    <div id="usuarios-pagination" class="pagination"></div>
  </div>

</div>
